<% var pageTitle = '詳細 - 選手'; %>
<% var pageId = 'player'; %>
<% var pathPartials = '../_partials/'; %>
<% //----------------------------------------- %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include(pathPartials + 'head', { title: pageTitle }) %>
<link rel="stylesheet" type="text/css" href="/common/css/common.css">
<link rel="stylesheet" type="text/css" href="/common/css/sub/playerDetails.css">
<script id="paramDefault" type="application/json">
  {
    "team": "warrior",
    "position": "pitcher"
  }
</script>
</head>
<body>

<div class="page" id="PageView">

  <%- include(pathPartials + 'header', { current: pageId }) %>

  <main class="main playerDetails">

    <header class="main-header">
      <div class="main-header-topicPath">
        <ol class="main-header-topicPath-list inner">
          <li><a href="/">トップ</a></li>
          <li><a href="/player/">選手一覧</a></li>
          <li class="js-mainTopicPathCurrent">選手詳細</li>
        </ol>
      </div>
      <p class="main-header-supplementary js-mainTeamName">全チーム</p>
      <div class="main-header-title playerDetails-title js-mainTitle">
        <p class="playerDetails-title-no">18</p>
        <h2 class="playerDetails-title-name">織田 信長</h2>
        <small class="playerDetails-title-ruby">おだ のぶなが</small>
      </div>
    </header>

    <%- include(pathPartials + 'player/thumbList') %>

    <div class="main-contents inner">

      <section class="contents">

        <div class="playerDetails-profile playerProfile" id="PlayerProfileView">
          <div class="playerProfile-gallery" id="ProfileImageGalleryView">
            <figure class="playerProfile-gallery-thumb"><img src="/common/img/player/img_noThumb.gif" alt=""></figure>
            <ul class="playerProfile-gallery-list js-imageGalleryList">
              <li><figure><img src="/common/img/player/img_noGallery.jpg" alt=""></figure></li>
              <li><figure><img src="/common/img/player/img_noGallery.jpg" alt=""></figure></li>
              <li><figure><img src="/common/img/player/img_noGallery.jpg" alt=""></figure></li>
            </ul>
            <ul class="playerProfile-gallery-nav js-imageGalleryNav">
            </ul>
          </div>
          <dl class="playerProfile-list">
            <dt>背ネーム</dt><dd>ODA</dd>
            <dt>所属</dt><dd>尾張</dd>
            <dt>生年月日</dt><dd>1980年5月12日</dd>
            <dt>利き腕</dt><dd>右投左打</dd>
            <dt>ポジション</dt><dd>二（サブ/三遊）</dd>
            <dt>フォーム</dt><dd>スタンダード110</dd>
            <dt>経歴</dt><dd><ul><li>国内</li><li>大学卒</li><li>11年目</li></ul></dd>
            <dt>バット</dt><dd>木製</dd>
            <dt>グラブ</dt><dd>茶色</dd>
            <dt>リストバンド</dt><dd><ul><li>左/なし</li><li>右/なし</li></ul></dd>
          </dl>
        </div><!--/.playerProfile -->

        <div class="playerDetails-ability playerAbility" id="PlayerAbilityView">
          <ul class="playerAbility-tab js-switchViewNav">
            <li>投手能力</li>
            <li>野手能力</li>
            <li>その他</li>
          </ul>
          <div class="playerAbility-main js-switchViewContents">
            <div class="playerAbility-contents pitchersAbility">
              <section class="playerAbility-contents-section">
                <h3 class="playerAbility-contents-section-title">能力値</h3>
                <div class="parameters">
                  <dl class="parameters-list">
                    <dt>適正</dt><dd>先発</dd>
                    <dt>球速</dt><dd>150 km/h</dd>
                    <dt>コントロール</dt><dd><span class="icon-paramA">A</span>160</dd>
                    <dt>スタミナ</dt><dd><span class="icon-paramC">C</span>98</dd>
                  </dl><!--/.parameters-list -->
                  <div class="parameters-breakingBall">
                    <div class="breakingBall">
                      <div class="breakingBall-ball"></div>
                      <ul class="breakingBall-list breakingBall-top">
                        <li><span class="level1"></span>ストレート</li>
                        <li><span class="level1"></span>ムービングファスト</li>
                      </ul>
                      <ul class="breakingBall-list breakingBall-left">
                        <li><span class="level0"></span>Hスライダー</li>
                        <li><span class="level0"></span>カットボール</li>
                      </ul>
                      <ul class="breakingBall-list breakingBall-leftBottom">
                        <li><span class="level0"></span>スローカーブ</li>
                        <li><span class="level0"></span>ドロップカーブ</li>
                      </ul>
                      <ul class="breakingBall-list breakingBall-bottom">
                        <li><span class="level0"></span>チェンジアップ</li>
                        <li><span class="level0"></span>Vスライダー</li>
                      </ul>
                      <ul class="breakingBall-list breakingBall-rightBottom">
                        <li><span class="level0"></span>Hシンカー</li>
                        <li><span class="level0"></span>サークルチェンジ</li>
                      </ul>
                      <ul class="breakingBall-list breakingBall-right">
                        <li><span class="level0"></span>シュート</li>
                        <li><span class="level0"></span>Hシュート</li>
                      </ul>
                    </div>
                  </div><!--/.parameters-breakingBall -->
                </div>
              </section>
              <section class="playerAbility-contents-section">
                <h3 class="playerAbility-contents-section-title">特殊能力</h3>
                <div class="abilities">
                  <ul class="abilities-data">
                    <li>ピンチ<span>3</span></li>
                    <li class="plus">対左打者<span>4</span></li>
                    <li class="minus">対ランナー<span>2</span></li>
                    <li>ケガしにくさ<span>3</span></li>
                    <li>打たれ強さ<span>3</span></li>
                    <li>クイック<span>3</span></li>
                    <li class="plus">回復<span>5</span></li>
                    <li>安定度<span>3</span></li>
                    <li class="minus">ノビ<span>2</span></li>
                    <li>キレ<span>3</span></li>
                  </ul>
                  <ul class="abilities-list">
                    <li class="plus">尻上がり</li>
                    <li class="special">尻上がり</li>
                    <li class="plus">尻上がり</li>
                    <li class="plus">尻上がり</li>
                    <li class="minus">尻上がり</li>
                    <li class="minus">尻上がり</li>
                  </ul>
                  <ul class="abilities-list">
                    <li class="appoint">人気者</li>
                    <li class="appoint">人気者</li>
                    <li class="appoint">人気者</li>
                    <li class="appoint">人気者</li>
                  </ul>
                </div>
              </section>
            </div><!--/.pitchersAbility -->
            <div class="playerAbility-contents fieldersAbility">
              <section class="playerAbility-contents-section">
                <h3 class="playerAbility-contents-section-title">能力値</h3>
                <div class="parameters">
                  <dl class="parameters-list">
                    <dt>弾道</dt><dd><span class="icon-param4">4</span>4</dd>
                    <dt>ミートカーソル</dt><dd><span class="icon-paramS">S</span>100</dd>
                    <dt>打撃パワー</dt><dd><span class="icon-paramA">A</span>88</dd>
                    <dt>走力</dt><dd><span class="icon-paramB">B</span>76</dd>
                    <dt>肩力</dt><dd><span class="icon-paramC">C</span>63</dd>
                    <dt>守備力</dt><dd><span class="icon-paramD">D</span>51</dd>
                    <dt>捕球</dt><dd><span class="icon-paramE">E</span>49</dd>
                  </dl>
                  <div class="parameters-position">
                    <dl class="parameters-position-list">
                      <dt>投</dt><dd class="parameters-position-pitcher"><span class="icon-paramA">A</span></dd>
                      <dt>捕</dt><dd class="parameters-position-catcher"><span class="icon-paramA">A</span></dd>
                      <dt>一</dt><dd class="parameters-position-firstBase"><span class="icon-paramA">A</span></dd>
                      <dt>二</dt><dd class="parameters-position-secondBase"><span class="icon-paramA">A</span></dd>
                      <dt>三</dt><dd class="parameters-position-thirdBase"><span class="icon-paramA">A</span></dd>
                      <dt>遊</dt><dd class="parameters-position-shortStop"><span class="icon-paramA">A</span></dd>
                      <dt>左</dt><dd class="parameters-position-leftField"><span class="icon-paramE">E</span></dd>
                      <dt>中</dt><dd class="parameters-position-centerField"><span class="icon-paramE">E</span></dd>
                      <dt>右</dt><dd class="parameters-position-rightField"><span class="icon-paramE">E</span></dd>
                    </dl>
                  </div>
                </div>
              </section>
              <section class="playerAbility-contents-section">
                <h3 class="playerAbility-contents-section-title">特殊能力</h3>
                <div class="abilities">
                  <ul class="abilities-data">
                    <li class="minus">チャンス<span>1</span></li>
                    <li class="plus">対左投手<span>4</span></li>
                    <li></li>
                    <li></li>
                    <li class="special">鉄人</li>
                    <li>盗塁<span>3</span></li>
                    <li class="plus">走塁<span>5</span></li>
                    <li>送球<span>3</span></li>
                    <li></li>
                    <li class="minus">安定度<span>2</span></li>
                  </ul>
                  <ul class="abilities-list">
                    <li class="appoint">人気者</li>
                    <li class="appoint">人気者</li>
                    <li class="appoint">人気者</li>
                    <li class="appoint">人気者</li>
                    <li class="appoint">人気者</li>
                  </ul>
                </div>
              </section>
            </div><!--/.fieldersAbility -->
            <div class="playerAbility-contents othersAbility">
              <section class="playerAbility-contents-section">
                <h3 class="playerAbility-contents-section-title">スタイル</h3>
                <div class="parameters">
                  <dl class="parameters-list">
                    <dt>成長型</dt><dd>技巧派型</dd>
                    <dt>成長時期</dt><dd>安定</dd>
                  </dl>
                </div>
                <div class="abilities">
                  <ul class="abilities-list">
                    <li class="appoint">スタミナ限界</li>
                  </ul>
                </div>
              </section>
              <section class="playerAbility-contents-section">
                <h3 class="playerAbility-contents-section-title">成績</h3>
                <div class="results">
                  <dl class="results-list">
                    <dt>打率</dt><dd>.320<small class="results-list-title">首位打者</small></dd>
                    <dt>本塁打</dt><dd>17<span class="results-list-unit">本</span><small class="results-list-title">本塁打王</small></dd>
                    <dt>打点</dt><dd>95<span class="results-list-unit">打点</span><small class="results-list-title">打点王</small></dd>
                    <dt>防御率</dt><dd>1.30<small class="results-list-title">最優秀防御率</small></dd>
                  </dl>
                </div>
              </section>
              <section class="playerAbility-contents-section">
                <h3 class="playerAbility-contents-section-title">概要</h3>
                <p class="playerAbility-contents-section-text">概要なんかテキスト入る概要なんかテキスト入る概要なんかテキスト入る概要なんかテキスト入る概要なんかテキスト入る概要なんかテキスト入る概要なんかテキスト入る概要なんかテキスト入る</p>
              </section>
            </div>
          </div><!--/.othersAbility -->
        </div><!--/.playerAbility -->

      </section><!--/.contents -->

      <%- include(pathPartials + 'sidebar', { type: 'position' }) %>

    </div><!--/.inner -->
  </main>

  <%- include(pathPartials + 'footer') %>

</div><!--/.page -->

<script src="/common/js/lib/jquery-2.1.1.min.js"></script>
<script src="/common/js/common.js"></script>
<script src="/common/js/sub/playerDetails.js"></script>
</body>
</html>
