<% var pageTitle = '選手一覧'; %>
<% var pageId = 'player'; %>
<% var pathPartials = '../_partials/'; %>
<% //----------------------------------------- %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include(pathPartials + 'head', { title: pageTitle }) %>
<link rel="stylesheet" type="text/css" href="/common/css/common.css">
<link rel="stylesheet" type="text/css" href="/common/css/sub/playerList.css">
<script id="paramDefault" type="application/json">
{
  "team": "all",
  "sortKeyword": "positonNum",
  "sortOrder": "descend",
  "startIndex": 1
}
</script>
</head>
<body>

<div class="page" id="PageView">

  <%- include(pathPartials + 'header', { current: pageId }) %>

  <main class="main playerList">
    <header class="main-header">
      <div class="main-header-topicPath">
        <ol class="main-header-topicPath-list inner">
          <li><a href="/">トップ</a></li>
          <li>選手</li>
        </ol>
      </div>
      <p class="main-header-supplementary js-mainTeamName">全チーム</p>
      <h2 class="main-header-title">選手一覧</h2>
    </header>

    <div class="main-contents inner">

      <section class="contents">

        <%- include(pathPartials + 'player/refinePanel') %>

        <div class="playerList-control" id="ListControlView">
          <div class="playerList-control-sortListTab">
            <ul class="playerList-control-sortListTab-list js-listControlSortTab">
              <li data-sortkeyword="positonNum" data-sortorder="descend">ポジション順</li>
              <li data-sortkeyword="ruby" data-sortorder="descend">名前順</li>
              <li data-sortkeyword="paramPitching" data-sortorder="ascend">投手力順</li>
              <li data-sortkeyword="paramBatting" data-sortorder="ascend">打撃力順</li>
              <li data-sortkeyword="paramDefending" data-sortorder="ascend">守備力順</li>
            </ul>
          </div>
          <div class="playerList-control-listInfo">
            <p class="playerList-control-listInfo-number js-listControlInfo">1 - 10件<small>（全40件中）</small></p>
          </div>
        </div><!--/.playerList-control -->

        <div class="playerList-area" id="PlayerListView">
          <ul class="playerList-area-list js-playerCassetteList">
          </ul><!--/.playerList-area-list -->
        </div><!--/.playerList-area -->

        <div class="playerList-pager" id="PagerView">
        </div><!--/.playerList-pager -->

      </section><!--/.contents -->

      <%- include(pathPartials + 'sidebar', { type: 'team' }) %>

    </div><!--/.inner -->
  </main>

  <%- include(pathPartials + 'footer') %>

</div><!--/.page -->

<script src="/common/js/lib/jquery-2.1.1.min.js"></script>
<script src="/common/js/common.js"></script>
<script src="/common/js/sub/playerList.js"></script>
</body>
</html>
